<!doctype html>
<html lang="pt-BR">
  <head>
    <title>CGB - POC</title>

    <meta charset="utf-8" />
    <meta name="description" content="CGB - POC · Sistema de Gestão de Segurança" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data: blob: https:; connect-src 'self' https://*.supabase.co wss://*.supabase.co https://*.workers.dev<% if (ctx.dev) { %> ws://localhost:* http://localhost:*<% } %>; worker-src 'self' blob:; font-src 'self' data: https://fonts.gstatic.com;"
    />

    <link rel="icon" type="image/png" href="icons/logo-original.png" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
